@inherits LayoutComponentBase

@inject UserService UserService
@inject NavigationManager NavigationManager

<div class="page">
    @if (UserService.IsLoggedIn())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            @if (UserService.IsLoggedIn())
            {
                <NavLink class="nav-link" href="#" @onclick="HandleLogout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                </NavLink>

            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void HandleLogout()
    {
        UserService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
